.countDown{
    text-align: center;
    font-size: 1.5rem;
}
.periodTime{
    font-size: 1.5rem;
}
.red,.green,.blue{
    padding: 1rem;
}
.numbers{
  display: flex;
  justify-content:space-evenly;
  padding: 0;
}
.selectColor{
  padding: 0 0 0 2rem;
  font-size: 1.2rem;
  margin: 0;
}
.numberSelect{
  margin: 0 0 1rem 0;
  .selectNumber{
    padding: 0 0 0 1rem;
    font-size: 1.2rem;
  }
}
.resultCard{
  margin: 1rem 0 0 0;
  table{
    th{
      width: 20rem;
    }
  }
}

