<div class="container">
    <div class="row">
        <div class="card">
            <div class="card-body d-flex">
                <div class="col-md-10">
                    <div class="period">
                        <div>
                            <h5>Period</h5>
                        </div>
                        <div>
                            <p class="periodTime">{{name}}</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="countDown">
                        <div class="countTime">
                            <h5>Count Down</h5>
                        </div>
                        <div class="timer">
                            <span id="countdown" style="font-weight: bold;"></span>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row">
              <label class="selectColor">Select a color</label>
                <div class="col-md-12 d-flex">
                    <div class="red">
                        <button type="button" class="btn btn-danger">Red</button>
                    </div>
                    <div class="green">
                        <button type="button" class="btn btn-success">Green</button>
                    </div>
                    <div class="blue">
                        <button type="button" class="btn btn-primary">Blue</button>
                    </div>
                </div>
            </div>
            <div class="row numberSelect">
              <label class="selectNumber">Select a Number</label>
                <div class="col-md-6 numbers">
                    <div *ngFor="let item of numberList let i=index">
                        <button type="button" class="btn btn-primary" id="{{i}}">{{item}}</button>
                    </div>
                </div>
            </div>
        </div>
      <div class="card resultCard">
        <div class="cardbody">
          <div class="responsive">
            <table class="table">
              <tr>
                <thead>
                  <th>Period</th>
                  <th>Price</th>
                  <th>Number</th>
                  <th>Result</th>
                </thead>
                <tbody>
                  <tr></tr>
                </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
</div>
