<section>
  <div class="forgot">
    <div class="content">
      <div class="forgotBox">
        <form autocomplete="off" #resetForm="ngForm" (ngSubmit)="(resetForm.form.valid) && forgotPassword()">
          <h2>Create Password</h2>
          <div class="forgotInputBox">
            <input type="password" required minlength="2" maxlength="50" [(ngModel)]="reset.newPassword"
              name="newPassword" #NewPassword="ngModel" [class.error]="resetForm.submitted && NewPassword.invalid" />
            <span>Conform Password</span>
            <i></i>
          </div>
          <span class="m-1" *ngIf="resetForm.submitted && NewPassword.invalid">
            <small class="form-text" *ngIf="NewPassword.errors">
              Enter your new password</small>
          </span>
          <div class="forgotInputBox">
            <input type="password" required minlength="2" maxlength="15" [(ngModel)]="reset.reTypePassword"
              name="reTypePassword" #RetypePassword="ngModel"
              [class.error]="resetForm.submitted && RetypePassword.invalid" />
            <span>Re-Type Password</span>
            <i></i>
          </div>
          <span class="m-1" *ngIf="resetForm.submitted && RetypePassword.invalid">
            <small class="form-text" *ngIf="RetypePassword.errors">
              Enter your new password</small>
          </span>
          <div class="newPassword">
            <button type="submit" class="forgotButton">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>