<div id="depositaccount">
    <div class="depositaccountDetail">
        <div class="row col-12">
            <div class="card">
                <div class="card-body" *ngIf="this.bankDetail">
                    <h5>Account Detail</h5>
                    <div class="row">
                        <div class="bankDetails">
                            <div class="media mb-2 col-md-3">
                                <div class="image">
                                    <img [src]="userImage? userImage : avatarImage" class="users-avatar-shadow rounded"
                                        height="100" width="100" alt="product Image" />
                                </div>
                            </div>
                            <div class="col-12 d-flex justify-content-start mt-1 px-0">
                                <label class="btn btn-primary mr-75 mb-0 uploadImage" for="change-picture">
                                    <span class="d-none d-sm-block">Upload</span>
                                    <input class="form-control" type="file" name="imageUrl" id="change-picture" hidden
                                        accept="*.png.jpg" (change)="upload($event)" />
                                    <span class="d-block d-sm-none">
                                        <i class="mr-0" data-feather="edit"></i>
                                    </span>
                                </label>
                                <button type="button" class="btn btn-outline-secondary d-none d-sm-block"
                                    (click)="removeImg(userImage)" rippleEffect>Remove</button>
                                <button class="btn btn-outline-secondary d-block d-sm-none">
                                    <i class="mr-0" data-feather="trash-2"></i>
                                </button>
                            </div>
                        </div>
                        <hr />
                        <div class="col-4">
                            <label class="form-control-label"><strong>Bank Name</strong></label>
                            <div>
                                {{bankName | titlecase}}
                            </div>
                        </div>
                        <div class="col-4">
                            <label class="form-control-label"><strong>Bank Account Number</strong></label>
                            <div>
                                {{bankDetail.accountNumber }}
                            </div>
                        </div>
                        <div class="col-4">
                            <label class="form-control-label"><strong>IFSC code</strong></label>
                            <div>
                                {{bankDetail.ifscCode }}
                            </div>
                        </div>
                        <div class="col-4 mt-2">
                            <label class="form-control-label"><strong>Name</strong></label>
                            <div>
                                {{bankDetail.firstName}} {{bankDetail.lastName}}
                            </div>
                        </div>
                        <div class="col-4 mt-2">
                            <label class="form-control-label"><strong>Mobile</strong></label>
                            <div>
                                {{bankDetail.mobileNumber }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="content-wrapper mt-4">
    <div class="content-body">
        <!-- users edit start -->
        <section class="app-user-edit">
            <div class="row col-12">
                <div class="card p-1">
                    <div class="card-body">
                        <ul ngbNav #nav="ngbNav" class="nav nav-pills">
                            <li ngbNavItem>
                                <a ngbNavLink class="d-flex align-items-center"><i data-feather="user"
                                        class="mr-sm-50"></i><span class="d-none d-sm-block">Deposit</span></a>
                                <ng-template ngbNavContent>
                                    <form class="depositFrom">
                                        <h5 class="depositTitle">Deposit</h5>
                                        <div class="d-flex">
                                            <div class="col-md-4" style="padding: 0 0 0 0rem;margin: 0 1rem 0 0">
                                                <input type="text" appNumberValidation
                                                    [(ngModel)]="customer.depositamount" name="depositamount"
                                                    placeholder="Enter your amount" class="forms-control amount" />
                                            </div>
                                            <div class="depositBtn">
                                                <button type="submit" class="btn btn-primary"
                                                    (click)="deposit()">submit</button>
                                            </div>
                                        </div>
                                    </form>
                                    <div class="col-12 mt-4">
                                        <div class="table-responsive border rounded mt-1">
                                            <table class="table table-striped table-borderless">
                                                <thead class="thead-light">
                                                    <tr>
                                                        <th>Amount</th>
                                                        <th>Date</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let item of listDeposit let i = index">
                                                        <td>{{item.amount}}</td>
                                                        <!-- <td>{{item.date}}</td> -->
                                                        <td>{{item.date.year + '-' + item.date.month + '-' +
                                                            item.date.day + ' ' +
                                                            item.date.hour + ':' + item.date.minute + ':' +
                                                            item.date.seconds}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </ng-template>
                            </li>
                            <li ngbNavItem>
                                <a ngbNavLink class="d-flex align-items-center">
                                    <i data-feather="lock" class="mr-sm-50"></i><span class="d-none d-sm-block">Withdraw
                                    </span></a>
                                <ng-template ngbNavContent>
                                    <form class="depositFrom">
                                        <h5 class="depositTitle">Withdraw</h5>
                                        <div class="d-flex">
                                            <div class="col-md-4" style="padding: 0 0 0 0rem;margin: 0 1rem 0 0">
                                                <input type="text" appNumberValidation
                                                    [(ngModel)]="withdraw.withdrawAmount" name="withdrawAmount"
                                                    placeholder="Enter your amount" class="forms-control amount" />
                                            </div>
                                            <div class="depositBtn">
                                                <button type="submit" class="btn btn-primary"
                                                    (click)="withdrawAmount()">submit</button>
                                            </div>
                                        </div>
                                    </form>
                                </ng-template>
                            </li>
                        </ul>
                        <div [ngbNavOutlet]="nav" class="mt-2"></div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>