.pendinggroupBtns{
  padding: 1rem 0.5rem 0.8rem 0;
  .addAccount{
      margin: 0 1rem 0 0;
  }
}
.pendingSearchBox{
  margin: 0 1rem 0 0;
}
.ngx-datatable .datatable-body .datatable-body-row>div{
  margin: 1rem 0 0 0.5rem;
}
