<div id="account">
  <div class="accountForm">
    <div class="row col-12">
      <div class="card">
        <div class="card-body ">
          <form #accountForm="ngForm" (ngSubmit)="accountForm.form.valid && submitAccount()">
            <div class="row">
              <h5>Account Detail</h5>
              <div class="col-4">
                <label class="form-control-label">Bank Name</label>
                <input type="text" class="forms-control" placeholder="Bank Name" minlength="2" maxlength="100"
                  [(ngModel)]="account.bankName" name="bankName" (ngModelChange)="change()">
              </div>
              <div class="col-4">
                <label class="form-control-label">Account No </label>
                <input type="text" class="forms-control" placeholder="Account No" minlength="2" maxlength="100"
                  [(ngModel)]="account.accountNumber" name="accountNumber" disabled>
              </div>
              <div class="col-4">
                <label class="form-control-label">IFSC Code</label>
                <input type="text" class="forms-control" placeholder="IFSC Code" minlength="2" maxlength="100"
                  [(ngModel)]="account.ifscCode" name="ifscCode" disabled>
              </div>
              <div class="col-4">
                <label class="form-control-label">First Name</label>
                <input type="text" placeholder="First Name" class="forms-control" [(ngModel)]="account.firstName"
                  name="firstName" />
              </div>
              <div class="col-4">
                <label class="form-control-label">Last Name</label>
                <input type="text" placeholder="Last Name" class="forms-control" [(ngModel)]="account.lastName"
                  name="lastName" />
              </div>
              <div class="col-4">
                <label class="form-control-label">Age</label>
                <input type="text" placeholder="Age" class="forms-control" [(ngModel)]="account.age" name="age" />
              </div>
              <div class="col-4">
                <label class="form-control-label mt-3">Date Of Birth</label>
                <input placeholder="Date Of Birth" class="forms-control" [minDate]="today" ngbDatepicker
                  #basicDP="ngbDatepicker" (click)="basicDP.toggle()" [(ngModel)]="dateOfBirth" name="dateOfBirth" />
              </div>
              <div class="col-4">
                <label class="labelGender">Gender</label><br />
                <ng-select [items]="genderList" placeholder="Gender" [(ngModel)]="account.gender"
                  name="gender"></ng-select>
              </div>
              <div class="col-lg-4 col-md-6 mt-3">
                <label class="form-control-label">Mobile Number</label>
                <input type="text" placeholder="Mobile Number" class="forms-control" [(ngModel)]="account.mobileNumber"
                  name="mobileNumber" />
              </div>
              <div class="col-lg-4 col-md-6 mt-3">
                <label class="form-control-label">Alternate Mobile Number</label>
                <input type="text" placeholder="Alternate Mobile Number" class="forms-control"
                  [(ngModel)]="account.alternateNumber" name="alternateNumber" />
              </div>

              <div class="col-lg-4 col-md-6 mt-3">
                <label class="form-control-label">Martial Status</label>
                <ng-select [items]="martialStatus" placeholder="Martial Status" [(ngModel)]="account.martialStatus"
                  name="martialStatus"></ng-select>
              </div>
              <div class="col-lg-4 col-md-6 mt-3">
                <label class="form-control-label">Nationality</label>
                <input type="text" placeholder="Nationality" class="forms-control" [(ngModel)]="account.nationality"
                  name="nationality" />
              </div>
              <div class="col-lg-4 col-md-6 mt-3">
                <label class="form-control-label">Religion</label>
                <input type="text" placeholder="Religion" class="forms-control" [(ngModel)]="account.religion"
                  name="religion" />
              </div>
              <div class="col-lg-4 col-md-6 mt-3">
                <label class="form-control-label">Email</label>
                <input type="text" placeholder="Email" class="forms-control" [(ngModel)]="account.email" name="email" />
              </div>
              <div class="col-12 mt-3">
                <label class="form-control-label">Address</label>
                <textarea minlength="2" maxlength="500" rows="3" placeholder="Address" [(ngModel)]="account.address"
                  name="address" class="forms-control"></textarea>
              </div>
              <div class="col-lg-3 col-md-4 mt-3">
                <label class="form-control-label">Captcha</label>
                <div class="d-flex">
                  <div class="captcha">
                    <span id="preview"></span>
                  </div>
                  <div>
                    <button type="button" class="refreshButton" (click)="captcha()"><i
                        class="fa fa-rotate-right"></i></button>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 mt-3">
                <label class="form-control-label"></label>
                <input type="text" minlength="6" maxlength="6" placeholder="Enter Captcha" [(ngModel)]="account.captcha"
                  name="account.captcha" #Captcha="ngModel" [class.error]="accountForm.submitted && Captcha.invalid"
                  class="forms-control enterCapcha" (ngModelChange)="text()" required />
                <span *ngIf="accountForm.submitted && Captcha.invalid" class="invalid-form">
                  <small class="form-text text-success" *ngIf="Captcha.errors.required">valid</small>
                </span>
              </div>
            </div>
            <div class="d-flex justify-content-md-end mt-3">
              <button type="submit" class="btn btn-primary customerSave">Save</button>
              <button type="button" class="btn btn-secondary customerSave">Cancel</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
